{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">

  <title>Ticketing</title>

  <link rel="stylesheet" href="{% static 'libs/font-awesome/css/font-awesome.min.css' %}" />
  <link href="{% static 'libs/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'libs/toastr/toastr.min.css' %}" rel="stylesheet">
  <link href="{% static 'portal/css/signin.css' %}" rel="stylesheet">

</head>

<body>

  <div class="container">

    <form class="form-signin"  action="{% url 'portal:login' %}" method="post">
    {% csrf_token %}
      <h2 class="form-signin-heading">Iniciar Sesión</h2>
      <label for="inputEmail" class="sr-only">Usuario</label>
      <input type="text" id="inputEmail" class="form-control" placeholder="Usuario" required autofocus name="username">
      <label for="inputPassword" class="sr-only">Contraseña</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Contraseña" required name="password">
      <div class="checkbox">
        <label>
          <input type="checkbox" value="remember-me"> Recordarme
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Iniciar Sesión</button>
    </form>

  </div>


  <script src="{% static 'libs/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'libs/bootstrap/dist/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'libs/toastr/toastr.min.js' %}"></script>
</body>
</html>
